<div class="row">

	<h1>{{playlistName}} </h1>
	
	<div class="module">
	
	<div class="addPanel">

		<div ng-show="success" class="alert alert-success" role="alert">Chanson "{{submittedSong}}" envoyée.</div>

        <div ng-show="error" class="alert alert-danger" role="alert">Veuillez saisir un titre dans le champ</div>

        <form class="form"> 

        	<label for="title" >Saisir un nom de chanson : </label>
            <input ng-model="title" type="text" name="title" id="title" size="40" />

            <br/><br/>
            <button ng-click="postSong()" class="btn btn-primary" >Ajouter </button>
		</form>

    </div>
    
    </div>
      
</div>
