<div>
    <div class="row">

        <div class="titre">
            <h1 class="title">{{playlistName}} </h1>
            <br/>
            <div class="row container">
                <div class="col-lg-3 col-md-6 col-sm-12">
                    <a href="https://www.facebook.com/sharer/sharer.php?u={{shareUrl}}">Share on Facebook</a>
                </div>
            </div>
            <div class= "lecteur" ng-switch="test">

                <button ng-click="previousSong()" class=" btn btn-default button">
                    <span class="glyphicon glyphicon-step-backward test" ></span>
                </button>

                <button  class=" btn btn-default button" ng-click="sendControlEvent(YT_event.PLAY)" ng-show="!lecture">
                    <span class="glyphicon glyphicon-play" ></span>
                </button>

                <button  class=" btn btn-default button" ng-click="sendControlEvent(YT_event.PAUSE)" ng-show="lecture">
                    <span class="glyphicon glyphicon-pause"></span>
                </button>

                <button ng-click="nextSong()" class="btn btn-default button">
                    <span class="glyphicon glyphicon-step-forward" ></span>
                </button>
            </div>

        </div>

        <div class="module">

            <div class="addPanel">

                <div ng-show="success" class="alert alert-success" role="alert">Chanson "{{submittedSong}}" envoyée.</div>

                <div ng-show="error" class="alert alert-danger" role="alert">Veuillez saisir un titre dans le champ</div>

                <form class="form"> 

                    <label for="title" translate="userPlaylist.form.title">Saisir un nom de chanson : </label>
                    <input ng-model="title" type="text" name="title" id="title" size="40" />

                    <br/><br/>
                    <button ng-click="postSong()"  class="btn btn-primary" translate="userPlaylist.form.button">Envoyer </button>
                </form>

            </div>

            <youtube class="youtube" videoid="{{yt.videoid}}"></youtube>

        </div>

        <table ng-table="tableParams" class="table">
            <tr ng-repeat="song in songs">
                <td data-title="'Chanson'" >{{song.name}} </td>
                <td > 
                    <button ng-click="selectSong(songs.indexOf(song))"  class="btn btn-success">
                        <span class="glyphicon glyphicon-music"></span>&nbsp;
                    </button> </td>
            </tr>
        </table>


    </div>

    <button type="submit" ui-sref="playlists" class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>
        &nbsp;
        <span translate="entity.action.back"> Back</span>
    </button>

</div>