<div>
    <div class="row">

        <div class="entete col-xs-12 col-md-12">
        	<div class="titre col-xs-7 col-md-7">
				<h1>{{playlistName}} </h1>
        	</div>    
       
       		<div class="share col-xs-5 col-md-5">
       			<a class="btn btn-facebook" href="https://www.facebook.com/sharer/sharer.php?u={{shareUrl}}">Share on Facebook</a>
       		</div>
       		
	    </div>
	    <br/><br/><br/><br/>
		
		<div class="lecteur" col-xs-12 col-md-12">
	
	    	<button ng-click="previousSong()" class=" btn btn-default button">
	    		<span class="glyphicon glyphicon-step-backward" ></span>
	    	</button>
	
	        <button  class=" btn btn-default button" ng-click="sendControlEvent(YT_event.PLAY)" ng-show="!lecture">
	        	<span class="glyphicon glyphicon-play" ></span>
	        </button>
	
	        <button  class=" btn btn-default button" ng-click="sendControlEvent(YT_event.PAUSE)" ng-show="lecture">
	        	<span class="glyphicon glyphicon-pause"></span>
	       	</button>
	
	        <button ng-click="nextSong()" class="btn btn-default button">
	        	<span class="glyphicon glyphicon-step-forward" ></span>
	        </button>
	    </div>
		
        <div class="module col-xs-12 col-md-12">
            <div class="addPanel col-xs-12 col-md-4">

                <div ng-show="success" class="alert alert-success" role="alert">Chanson "{{submittedSong}}" envoyée.</div>

                <div ng-show="error" class="alert alert-danger" role="alert">Veuillez saisir un titre dans le champ</div>

                <form class="form"> 

                    <input ng-model="title" placeholder="Nom de la chanson" type="text" name="title" id="title" size="40" />

                    <br/><br/>
                    <button ng-click="postSong()" class="glyphicon glyphicon-plus btn btn-primary" translate="userPlaylist.form.button"> Envoyer</button>
                </form>

            </div>

            <youtube class="col-xs-12 col-md-4" videoid="{{yt.videoid}}"></youtube>

        </div>

	<table ng-table="tableParams" class="table">
    	<tr ng-repeat="song in songs">
        	<td data-title="'Chanson'" >{{song.name}} </td>
        	<td> 
        		<button ng-click="selectSong(songs.indexOf(song))"  class="btn btn-success">
                	<span class="glyphicon glyphicon-music"></span>&nbsp;
                </button>
            </td>
		</tr>
	</table>

    <button type="submit" ui-sref="playlists" class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>
        &nbsp;
        <span translate="entity.action.back"> Back</span>
    </button>

</div>