<div ng-cloak>
    <div class="row">
    
        <div class="col-md-4">
            <span class="hipster img-responsive img-rounded"></span>
        </div>
        
        <div class="col-md-8">
        
			<h1 translate="main.title"> Social JukeBox</h1>
            <p class="lead" translate="main.subtitle">Bienvenue</p>
			
			<div ng-switch="isAuthenticated()">
					
				<div class="connexion">
                 	
                 	<div class="alert alert-success" ng-switch-when="true" translate="main.logged.message" translate-values="{username: '{{account.login}}'}">
                    	You are logged in as user "Admin".
                	</div>
                
					<h3 ng-switch-when="false"> Se connecter</h3>
					<h3 ng-switch-when="true"> Se déconnecter</h3>
					<br/>
						  
					<button ng-switch-when="false" ng-click="go('\login')" class="btn btn-primary">Se connecter</button>
					<button ng-switch-when="true" ng-click="logout()" class="btn btn-primary">Se déconnecter</button>
					<br/><br/>
					
					<div ng-switch-when="false" class="create">
						<a href="\#register">Créer un compte</a>
					</div>
				</div>
				
				<br/>
					
                <div class="connexion">
                 
					<h3> Description </h3>
					<br/>
                  
					<p>  blablablabla </p>
                  
                </div>
			
        </div>
		
    </div>
</div>
