<div>
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <h1 translate="addSong.title">Ajouter une chanson </h1>
            
            <div ng-show="success" class="alert alert-success" role="alert">Chanson "{{submittedSong}}" envoyée.</div>
		
			<div ng-show="error" class="alert alert-danger" role="alert">Veuillez saisir un titre dans le champ</div>
			
			<form class="form"> 
			
				<label for="title" translate="addSong.form.title">Titre de la chanson : </label>
				<input ng-model="title" type="text" name="title" id="title" size="40" />
				
				<br/><br/>
				<button ng-click="postSong()"  class="btn btn-primary" translate="addSong.form.button">Envoyer </button>
				
			</form>
			
		</div>
    </div>
</div>